/* Collective Voices Page */
body#voices {
    overflow: hidden;
}

/* Questions Section Survey */
#select {
    position: absolute;
    top: 100px;
}
#questions .tile {
    position: relative;
    height: 30vh;
    /* width: calc(25% - 0.75rem);
    height: 18vw;
    margin-right: 1rem; */
}
#questions .tile img {
    position: absolute;
    width: 100%;
    height: 100%;
}
#questions .tile .img-pos {
    z-index: 2;
    cursor: pointer;
}
#questions .tile .img-neg {
    opacity: 0;
}
#questions .tile:hover .img-pos {
    opacity: 0;
}
#questions .tile:hover .img-neg {
    opacity: 1;
}
#div-submit {
    position: absolute;
    width: 8rem;
    height: 1rem;
    top: 90%;
    right: 2rem;
}

/* Modal Styles for Pop-up Questions */
.modal-content {
    height: calc(100vw - 2rem);
    max-height: 500px;
    border: none;
    border-radius: 0px;
    outline: none;
    background-color: rgba(255,255,255,0)
}
.img-quest {
    position: absolute;
}
.modal-header, .modal-body, .modal-footer {
    border: none;
    z-index: 1;
}
.modal-header, .modal-footer {
    padding: 2rem;
}
.modal-body {
    padding: 0px 2rem;
}
.modal-header .h4 {
    margin-right: 3rem;
}
.modal-header .close {
    position: absolute;
    top: 1.3rem;
    right: 2rem;
    background: none;
    border: none;
    font-size: 2rem;
}

/* Form Input Styles */
.modal-body .form-check-input, .modal-body .form-check-input:checked {
    border: solid 2px #000;
    background: none;
}
.modal-body .form-check-input:checked[type=radio] {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='000'/%3e%3c/svg%3e");
}
.modal-body .form-check-input[type=checkbox] {
    border-radius: 0px;
}
.modal-body .form-check-input:checked[type=checkbox] {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-2 -2 10 10'%3e%3crect height='6' width='6' fill='000'/%3e%3c/svg%3e");
}
.modal-body label {
    width: calc(100% - 2rem);
    margin-left: 0.5rem;
    margin-bottom: 1rem;
    font-size: 0.9rem;
    line-height: 1.2em;
}

/* Results Section Dashboard */
#nav-dashboard {
    position: absolute;
    top: 4rem;
    height: calc(30vh - 4rem);
}
a#arrow-prev, a#arrow-next {
    position: absolute;
    width: 3rem;
    padding: 1rem;
    bottom: calc(50% - 0.25rem);
}
a.arrow-left {
    transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
}
a#arrow-prev {
    right: 100%;
}
a#arrow-next {
    left: calc(100% - 1rem);
}
a#arrow-prev .arrow, a#arrow-next .arrow {
    left: 0px;
    width: 2rem;
}
a#arrow-prev:hover .arrow, a#arrow-next:hover .arrow {
    width: 2.5rem;
}
#results .tile {
    width: 100%;
    margin-right: 1rem;
    margin-bottom: 3rem;
    opacity: 0.4;
    transition: all 0.3s ease;
}
#results .tile.active, #results .tile:hover {
    opacity: 1.0;
}
#results .tile.active:after {
    content: "";
    position: absolute;
    display: block;
    border: solid;
    border-color: #FDF4C4 transparent;
    border-width: 2rem 2rem 0rem;
    border-top-width: 0rem;
    border-bottom-width: 2rem;
    top: calc(100% + 1rem);
    bottom: auto;
    left: 50%;
    margin-left: -2.25rem;
}
.img-result {
    max-height: 15vh;
}
#dashboard {
    position: absolute;
    width: 100vw;
    height: 70vh;
    top: 30vh;
    left: 50%;
    transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    background-color: #FDF4C4;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Portrait screen orientation */
@media (max-aspect-ratio: 2/3) {
    .col {
        width: 100%!important;
    }
    #questions .tile {
        max-height: 15vh;
    }
}