/* Collective Voices Page */
body#voices {
    overflow: hidden;
}
body#voices .container {
    max-width: calc(100% - 120px);
}
.h4 {
    font-size: calc(0.8rem + .3vw);
}

/* sidebar secondary menu */
.sidebtn {
    position: fixed;
    top: 50vh;
    left: 0px;
    z-index: 10;
    transition: all 0.5s ease;
}
.sidebtn:hover {
    cursor: pointer;
}
#fade-sidebar:not(.show) {
    display: none;
    z-index: -1;
}
#fade-sidebar {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 200%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    /* transition: all 0.5s; */
}
.sidebar {
    position: fixed;
    height: 100vh;
    /* width: 0px; */
    width: 24rem;
    top: 0px;
    left: -24rem;
    /* padding: 2rem 0rem; */
    padding: 2rem;
    overflow: hidden auto;
    background-color: #FEF8DD;
    z-index: 5;
    transition: all 0.5s ease;
}
.sidebar .closebtn:hover {
    text-decoration: none;
}
.sidebar a {
    color: #000;
    text-decoration: none;
}
.sidebar a:hover {
    text-decoration: underline;
}
.openbtn {
    position: fixed;
    top: 50vh;
    left: 2rem;
    background-color: #000;
}
.sidebar span {
    margin-left: 1rem;
}
main {
    transition: all 0.5s ease;
}

/* Questions Section Survey */
#select {
    position: absolute;
    top: 100px;
}
#questions .tile {
    position: relative;
    height: 30vh;
    /* width: calc(25% - 0.75rem);
    height: 18vw;
    margin-right: 1rem; */
}
#questions .tile img {
    position: absolute;
    width: 100%;
    height: 100%;
}
#questions .tile .img-pos {
    z-index: 2;
    cursor: pointer;
}
#questions .tile .img-neg, #questions .tile .img-color {
    opacity: 0;
}
#questions .tile:hover .img-pos {
    opacity: 0;
}
#questions .tile:hover .img-neg {
    opacity: 1;
}
#div-submit {
    position: absolute;
    width: 8rem;
    height: 1rem;
    top: 90%;
    right: 2rem;
}
#div-submit button {
    display: flex;
    align-items: center;
    background: none;
    border: none;
}

/* Modal Styles for Pop-up Questions */
.modal-content {
    /* height: calc(100vw - 2rem);
    max-height: 515px; */
    max-height: calc(100vh - 6rem);
    border: none;
    border-radius: 0px;
    outline: none;
    /* background-color: rgba(255,255,255,0) */
    background-repeat: no-repeat;
    background-position: 50% 50%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#modal-labor .modal-content {
    background-image: url("../img/labor-quest.svg");
}
#modal-market .modal-content {
    background-image: url("../img/market-quest.svg");
}
#modal-care .modal-content {
    background-image: url("../img/care-quest.svg");
}
#modal-living .modal-content {
    background-image: url("../img/living-quest.svg");
}
.img-quest {
    position: absolute;
}
.modal-header, .modal-body, .modal-footer {
    border: none;
    z-index: 1;
}
.modal-header, .modal-footer {
    padding: 2rem;
}
.modal-body {
    padding: 0px 2rem;
}
.modal-header .h5 {
    margin-right: 3rem;
}
.modal-header .close {
    position: absolute;
    top: 1.5rem;
    right: 2rem;
    background: none;
    border: none;
}
.modal-header .close span {
    font-size: 2rem!important;
}
.modal-body {
    overflow: hidden auto;
}
.modal-footer .continue {
    background: none;
    border: none;
    margin: 0rem 1rem 0rem 0rem;
}
.modal-footer .continue span {
    margin-right: 1rem;
    padding-right: 5rem;
}

/* Modal Styles for Thank You */
/* #modal-thanks {
    background-color: rgba(0,0,0,0.5);
} */
#modal-thanks .modal-content {
    background-color: #fff;
}
#modal-thanks .h4 {
    font-family: 'Acumin';
    font-weight: 600;
    font-variation-settings: 'wght' 500;
}
#modal-thanks .modal-body {
    overflow: hidden;
}
#modal-thanks .modal-body .row {
    max-width: 336px;
}
.img-thanks {
    max-width: 150px;
    width: calc(50% - 2rem);
    height: calc(100% - 1rem);
}

/* Form Input Styles */
.modal-body .form-check-input, .modal-body .form-check-input:checked {
    margin-top: 0px;
    border: solid 2px #000;
    background: none;
}
.modal-body .form-check-input:checked[type=radio] {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='000'/%3e%3c/svg%3e");
}
.modal-body .form-check-input[type=checkbox] {
    border-radius: 0px;
}
.modal-body .form-check-input:checked[type=checkbox] {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-2 -2 10 10'%3e%3crect height='6' width='6' fill='000'/%3e%3c/svg%3e");
}
.modal-body label {
    width: calc(100% - 2rem);
    margin-left: 0.5rem;
    margin-bottom: 1rem;
    font-size: 0.9rem;
    line-height: 1.2em;
}

/* Results Section Dashboard */
#nav-dashboard {
    position: absolute;
    top: 4rem;
    height: calc(30vh - 4rem);
}
#nav-headline {
    padding-bottom: 3rem;
}
#headline-figure, #headline-description {
    float: left;
}
#headline-figure {
    width: 130px;
    margin-right: 1rem;
}
#headline-percent {
    font-family: 'Prophet-Bold';
    font-weight: 900;
    font-variation-settings: 'wght' 900;
}
#headline-percent, #headline-figure span {
    width: 100%;
}
#headline-figure span {
    top: -0.5em;
}
#headline-description {
    display: block;
    width: calc(100% - 130px - 1rem);
}
#nav-results {
    padding-right: 1rem;
}
a#arrow-prev, a#arrow-next {
    position: absolute;
    width: 3rem;
    padding: 1rem;
    height: 10vh;
    max-height: 12vw;
    bottom: 2.5rem;
}
a#arrow-prev {
    right: calc(100% + 0.5rem);
}
a#arrow-next {
    left: calc(100% - 0.5rem);
}
a#arrow-prev .arrow, a#arrow-next .arrow {
    left: 0px;
    width: 2rem;
}
a#arrow-prev:hover .arrow, a#arrow-next:hover .arrow {
    width: 2rem;
}
#results .tile {
    width: 100%;
    margin: 0rem 0.5rem 2rem;
    opacity: 0.4;
    transition: all 0.3s ease;
}
#results .tile.active, #results .tile:hover {
    opacity: 1.0;
}
#results .tile.active:after {
    content: "";
    position: absolute;
    display: block;
    border: solid;
    border-color: #FDF4C4 transparent;
    border-width: 2rem 2rem 0rem;
    border-top-width: 0rem;
    border-bottom-width: 1.5rem;
    top: calc(100% + 0.75rem);
    bottom: auto;
    left: 50%;
    margin-left: -2.25rem;
}
.img-result {
    max-height: 10vh;
}
/* dashboard styles */
#dashboard {
    position: absolute;
    width: 100vw;
    height: 70vh;
    top: 30vh;
    left: 50%;
    transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    background-color: #FDF4C4;
}
#learn {
    position: relative;
    border-radius: 2rem;
    border-bottom-left-radius: 0px;
}
#learn:after {
    content: "";
    position: absolute;
    display: block;
    border: solid;
    color: transparent;
    /* border-color: #D96B6D transparent transparent #D96B6D; */
    border-width: 1rem;
    margin: 0px;
    top: 100%;
    left: 0px;
}

/* chart styles */
.chart.inactive {
    /* max-height: 55vh; */
    display: none;
}
.chart.active {
    display: block;
}
.chart svg {
    max-height: calc(55vh - 16rem);
    max-width: 100%;
}
.chart-label {
    font-family: 'Prophet-Bold';
}
.chart-short {
    font-size: 0.6rem;
}
.chart-label text {
    display: none;
}
.donut .chart-label text {
    font-size: 3rem;
    font-weight: 900;
    font-variation-settings: 'wght' 900;
}
.chart-bar rect, .chart-donut path {
    fill: #F8C5D7;
}
.chart-bar .active, .chart-donut .active {
    fill: #D96B6D;
}
.chart-label .active {
    display: block;
}
.chart-short text {
    fill: #000;
    opacity: 0.5;
}
.chart-short .active {
    font-weight: bold;
    fill: #D96B6D;
    opacity: 1.0;
}

/* theme colors for learn more blurb */
.labor #learn {
    color: #F8C5D7;
    background-color: #D96B6D;
}
.labor #learn a, .labor #learn a:hover {
    color: #F8C5D7;
}
.labor #learn .arrow, .labor #learn .arrow .head, .labor #learn .arrow .head:after {
    background-color: #F8C5D7;
}
.labor #learn:after {
    border-color: #D96B6D transparent transparent #D96B6D;
}
.market #learn {
    color: #FDF4C4;
    background-color: #F8C5D7;
}
.market #learn a, .market #learn a:hover {
    color: #FDF4C4;
}
.market #learn .arrow, .market #learn .arrow .head, .market #learn .arrow .head:after {
    background-color: #FDF4C4;
}
.market #learn:after {
    border-color: #F8C5D7 transparent transparent #F8C5D7;
}
.care #learn {
    color: #D96B6D;
    background-color: #F8C5D7;
}
.care #learn a, .care #learn a:hover {
    color: #D96B6D;
}
.care #learn .arrow, .care #learn .arrow .head, .care #learn .arrow .head:after {
    background-color: #D96B6D;
}
.care #learn:after {
    border-color: #F8C5D7 transparent transparent #F8C5D7;
}
.living #learn {
    color: #FDF4C4;
    background-color: #D96B6D;
}
.living #learn a, .living #learn a:hover {
    color: #FDF4C4;
}
.living #learn .arrow, .living #learn .arrow .head, .living #learn .arrow .head:after {
    background-color: #FDF4C4;
}
.living #learn:after {
    border-color: #D96B6D transparent transparent #D96B6D;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .h4 {
        font-size: calc(1rem + .3vw);
    }
    .modal-dialog {
        max-width: 515px;
    }
    #nav-dashboard {
        height: calc(32vh - 4rem);
    }
    #dashboard {
        height: 68h;
        top: 32vh;
    }
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .h4 {
        font-size: calc(1.275rem + .3vw);
    }
    #headline-description {
        font-size: calc(0.8rem + .3vw);
    }
    #nav-headline, #nav-results {
        height: 100%!important;
    }
    #nav-headline {
        padding-left: 3rem;
    }
    a#arrow-prev, a#arrow-next {
        height: calc(15vh - 2.5rem);
        max-height: 7vw;
        bottom: 3.5rem;
    }
    #results .tile {
        margin-bottom: 3rem;
    }
    #results .tile.active:after {
        top: calc(100% + 1.5rem);
    }
    .img-result {
        max-height: 15vh;
    }
    #nav-dashboard {
        height: calc(30vh - 4rem);
        padding-left: 3rem;
    }
    #dashboard {
        height: 70vh;
        top: 30vh;
    }
    .chart svg {
        max-height: 55vh;
    }
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    #headline-description {
        font-size: calc(0.9rem + .3vw);
    }
    #nav-dashboard {
        padding-left: 0rem;
    }
    #nav-results {
        padding-left: 3rem;
        padding-right: auto;
    }
    a#arrow-prev {
        right: calc(100% - 2rem);
    }
    #learn {
        padding: 2rem!important;
    }
}
/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    #headline-description {
        font-size: calc(1.275rem + .3vw);
    }
}

/* sidebar small screen */
@media (max-width: 24rem) {
    .sidebar {
        width: 100vw;
        left: -24rem;
    }
}

/* Portrait screen orientation */
@media (max-aspect-ratio: 2/3) {
    .col {
        width: 100%!important;
        max-height: 15vh;
    }
    #questions .tile {
        max-height: 15vh;
    }
    #nav-results {
        padding-left: auto;
    }
    a#arrow-prev {
        right: 100%;
    }
}

/* Landscape screen orientation & small screen */
@media (max-height: 680px) {
    p, span {
        font-size: 0.7rem;
    }
    .h3 {
        font-size: calc(1rem + .3vw);
        margin-bottom: 0.5rem!important;
    }
    .h4 {
        font-size: calc(0.8rem + .3vw);
    }
    #dashboard .container {
        padding-top: 1rem!important;
    }
    #learn {
        margin-top: 0px!important;
    }
    #theme-learn, #nav-headline {
        margin-bottom: 1rem!important;
    }
    #nav-headline {
        padding-bottom: 0.5rem;
    }
    #results .tile {
        margin-bottom: 1rem;
    }
    #results .tile.active:after {
        top: calc(100% + 0.25rem);
    }
    a#arrow-prev, a#arrow-next {
        bottom: 1.75rem;
    }
}