<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Ashley Louie">
    <title>Open Collectives Film</title>

    <link rel="shortcut icon" href="./img/oc-favicon.png">

    <link rel="stylesheet" type="text/css" href="./css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="./css/nav.css">
    <link rel="stylesheet" type="text/css" href="./css/style.css">
    
    <script type="text/javascript" src="./js/jquery-3.6.0.min.js"></script>
</head>

<body id="film" class="black">

    <nav class="navbar navbar-expand navbar-dark fixed-top">
        <div class="container-fluid dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-target="#dropdownMenu"
                data-bs-toggle="dropdown" aria-expanded="false">
                <div class="navTrigger">
                    <i></i><i></i><i></i>
                </div>
            </a>
            <ul class="dropdown-menu dropdown-menu-dark" id="dropdownMenu" aria-labelledby="dropdownMenu">
                <li><a class="dropdown-item" aria-current="page" href="./">Open Collectives</a></li>
                <li><a class="dropdown-item active" href="./film">Film</a></li>
                <li><a class="dropdown-item" href="./about">About</a></li>
                <li><a class="dropdown-item" href="./voices">Collective Voices</a></li>
                <li><a class="dropdown-item" href="./dimensions">Collective Dimensions</a></li>
            </ul>
        </div>
    </nav>

    <main class="">
        <section id="sect-film" class="container-fluid section d-flex mt-5">
            <div id="oc-film" class="align-self-center" style="padding:56.25% 0 0 0;">
                <iframe src="https://player.vimeo.com/video/547122376?autoplay=1&loop=1&muted=0&color=ff0000&title=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div><script src="https://player.vimeo.com/api/player.js"></script>
            <div class="row w-100 align-self-end mb-4 position-relative">
                <span id="sm-screen" class="w-100 px-3">This video is best viewed in landscape orientation.</span>
                <h1 class="h3 text-center">Forming Mutualism</h1>
            </div>
        </section>
    </main><!-- /.container -->

    <script type="text/javascript" src="./js/bootstrap.min.js"></script>
    <script type="text/javascript" src="./js/script.js"></script>
</body>

</html>
