<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Ashley Louie, Alina Nazmeeva">
    <title>Open Collectives</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/starter-template/">

    <link rel="stylesheet" type="text/css" href="./css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="./css/nav.css">

    <link rel="stylesheet" type="text/css" href="./css/style.css">
    <script type="text/javascript" src="./js/jquery-3.6.0.min.js"></script>
</head>

<body id="home" class="black">

    <nav class="navbar navbar-expand navbar-dark fixed-top">
        <div class="container-fluid dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-target="#dropdownMenu"
                data-bs-toggle="dropdown" aria-expanded="false">
                <div class="navTrigger">
                    <i></i><i></i><i></i>
                </div>
            </a>
            <ul class="dropdown-menu dropdown-menu-dark" id="dropdownMenu" aria-labelledby="dropdownMenu">
                <li><a class="dropdown-item active" aria-current="page" href="./index">Open Collectives</a></li>
                <li><a class="dropdown-item" href="./film">Film</a></li>
                <li><a class="dropdown-item" href="./about">About</a></li>
                <li><a class="dropdown-item" href="./voices">Collective Voices</a></li>
<!--                <li><a class="dropdown-item" href="http://ec2-3-94-170-100.compute-1.amazonaws.com/">Collective Dimensions</a></li>-->
                                <li><a class="dropdown-item" href="./dimensions">Collective Dimensions</a></li>
            </ul>
        </div>
    </nav>

    <main class="container">
        <section id="sect-video" class="container-fluid section d-flex">
            <a href="./film"><video class="align-self-center" id="vidTrailer" width="560" height="315" autoplay muted loop>
                <source src="./video/shapes_morph test_1.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video></a>
            <!-- <iframe class="align-self-center" id="vidTrailer" width="560" height="315" src="https://www.youtube.com/embed/GW3JPYkjeo0?rel=0&modestbranding=1&autohide=1&controls=0&autoplay=1&mute=1&playlist=GW3JPYkjeo0&loop=1" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
            <div class="w-100 d-flex flex-row-reverse align-self-end mb-5">
                <a class="px-3 link-white" href="./film"><h2 class="h4 text-uppercase position-relative before-arrow">Film
                            <div class="arrow arrow-sm"><div class="head"></div></div>
                </h2></a>
            </div>
        </section>
        <section class="container-fluid section d-flex" id="cv">
            <div class="row w-100 align-items-center">
                <div class="col-6 offset-3"><a class="link-white" href="./voices">
                    <h2 class="h1 text-uppercase text-center mb-0">To Share</h2>
                    <h2 class="h1 text-uppercase text-center mt-0 mb-0">or Not</h2>
                    <h2 class="h1 text-uppercase text-center mt-0">To Share?</h2>
                </a></div>
                <div class="col-8 offset-2 col-md-5 offset-md-7 col-lg-4 offset-lg-8" id="cv-enter">
                    <a class="link-white" href="./voices">
                        <p class="mb-0 before-arrow">enter collective voices to contribute your opinion and learn what others think</p>
                        <div class="arrow"><div class="head"></div></div>
                    </a>
                </div>
            </div>
            <img class="img img-center" id="img-voices" src="./img/voices.svg" alt="Collective Voices">
        </section>
        <section class="container-fluid section">
            <div class="row align-items-end" id="oc">
                <div class="col col-md-10 offset-md-2">
                    <a class="link-white" href="./about"><h1 class="h1 text-uppercase position-relative before-arrow">Open Collectives
                        <div class="arrow"><div class="head"></div></div>
                    </h1></a>
                </div>
            </div>
            <div class="row">
                <div class="col-10 offset-2 col-md-6 offset-md-6 col-lg-4 offset-lg-8 mt-4">
                    <a class="link-white" href="#sect-themes">
                        <p><em>Open Collectives</em> is an immersive installation featuring digital platforms and architectural projects that seek to leverage the power of solidarity in order to strengthen economic sovereignty, housing affordability, communal self-determination, and mutual aid.</p>
                        <p><em>Open Collectives</em> offers new perspectives on pressing issues such as the future of work, the gig economy, elder boom, affordable housing, and widening inequality. Featured projects engage with the following <span class="position-relative before-arrow">themes:
                            <span class="arrow arrow-dn"><span class="head"></span></span></span>
                        </p>
                    </a>
                </div>
            </div>
            <img class="img img-center" id="img-oc" src="./img/installation.svg" alt="Open Collectives Installation">
        </section>
        <section id="sect-themes" class="container-fluid section">
            <div class="align-items-middle">
            <div class="row">
                <div class="col-8 offset-2 col-md-4 offset-md-4 col-lg-3" id="p-labor">
                    <a class="link-white" href="./labor"><h2 class="h4 text-uppercase position-relative">Labor
                        <div class="arrow arrow-sm"><div class="head"></div></div>
                    </h2></a>
                    <p>Working with <a class="fw-bold fst-italic text-white" href="http://mosaic.us" target="_blank">Mosaic.us</a>&mdash;a full-stack construction company developing technologies to make home-building more efficient, inclusive, sustainable, and fulfilling.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-7 offset-5 col-md-4 offset-md-9 col-lg-3 mt-3">
                    <a class="link-white" href="./market"><h2 class="h4 text-uppercase position-relative">Market
                        <div class="arrow arrow-sm"><div class="head"></div></div>
                    </h2></a>
                    <p>Assisting <a class="fw-bold fst-italic text-white" href="https://www.quipumarket.com" target="_blank">Quipu</a>&mdash;a micro-currency digital platform&mdash;to establish a physical marketplace empowering members of a low-income community in Colombia.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-9 offset-3 col-md-4 offset-md-1 col-lg-3" id="p-care">
                    <a class="link-white" href="./care"><h2 class="h4 text-uppercase position-relative">Care
                        <div class="arrow arrow-sm"><div class="head"></div></div>
                    </h2></a>
                    <p>Supporting <a class="fw-bold fst-italic text-white" href="https://www.carehaus.net/" target="_blank">Carehaus</a> in developing intergenerational co-housing where caregivers live alongside and care for older adults and disabled people.</p>
                </div>
                <div class="col-7 offset-4 col-md-4 offset-md-3 col-lg-3 offset-lg-4" id="p-living">
                    <a class="link-white" href="./living"><h2 class="h4 text-uppercase position-relative">Living
                        <div class="arrow arrow-sm"><div class="head"></div></div>
                    </h2></a>
                    <p>Developing new collective living models with <a class="fw-bold fst-italic text-white" href="https://www.communit.co/" target="_blank">Communit</a> in retrofitted buildings and neighborhood-scale co-housing.</p>
                </div>
            </div>
            <img class="img" id="img-labor" src="./img/labor.svg" alt="Labor">
            <img class="img" id="img-market" src="./img/market.svg" alt="Market">
            <img class="img" id="img-care" src="./img/care.svg" alt="Care">
            <img class="img" id="img-living" src="./img/living.svg" alt="Living">
        </div>
        </section>
        <section class="container-fluid section d-flex" id="cd">
            <div id="cd-explore" class="row w-100 align-self-center">
                <a class="link-white h-100" href="http://ec2-3-94-170-100.compute-1.amazonaws.com/"><div class="col align-self-center h-100 d-flex flex-column justify-content-between">
                    <h2 class="h1 text-uppercase text-center">Explore Collectives</h2>
                    <h2 class="h1 text-uppercase text-center">Around the World</h2>
                </div></a>
                <div class="col-8 offset-2 col-md-5 offset-md-7 col-lg-4 offset-lg-8 mt-5 position-relative">
                    <a class="link-white" href="http://ec2-3-94-170-100.compute-1.amazonaws.com/">
                        <p class="mb-0 before-arrow">learn more about contemporary and historical collectives in the dimensions archive</p>
                        <div class="arrow"><div class="head"></div></div>
                    </a>
                </div>
            </div>
            <div class="W-100 img-row marquee">
                    <img class="marquee-item img img-cd" src="./img/cd-1.svg" alt="Collective Dimensions 1">
                    <img class="marquee-item img img-cd" src="./img/cd-2.svg" alt="Collective Dimensions 2">
                    <img class="marquee-item img img-cd" src="./img/cd-3.svg" alt="Collective Dimensions 3">
                    <img class="marquee-item img img-cd" src="./img/cd-4.svg" alt="Collective Dimensions 4">
                    <img class="marquee-item img img-cd" src="./img/cd-5.svg" alt="Collective Dimensions 5">
                    <img class="marquee-item img img-cd" src="./img/cd-6.svg" alt="Collective Dimensions 6">
                    <img class="marquee-item img img-cd" src="./img/cd-7.svg" alt="Collective Dimensions 7">
                    <img class="marquee-item img img-cd" src="./img/cd-8.svg" alt="Collective Dimensions 8">
            </div>
        </section>
    </main><!-- /.container -->

    <script type="text/javascript" src="./js/bootstrap.min.js"></script>
    <script type="text/javascript" src="./js/script.js"></script>
</body>

</html>