<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="Ashley Louie, Alina Nazmeeva" />
    <title>Labor</title>

    <link rel="shortcut icon" href="./img/oc-favicon.png" />

    <link rel="stylesheet" type="text/css" href="./css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="./css/nav.css" />
    <link rel="stylesheet" type="text/css" href="./css/style.css" />

    <script type="text/javascript" src="./js/jquery-3.6.0.min.js"></script>
  </head>

  <body id="labor" class="red">
    <nav class="navbar navbar-expand fixed-top">
      <div class="container-fluid dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          role="button"
          data-target="#dropdownMenu"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <div class="navTrigger"><i></i><i></i><i></i></div>
        </a>
        <ul
          class="dropdown-menu"
          id="dropdownMenu"
          aria-labelledby="dropdownMenu"
        >
          <li>
            <a class="dropdown-item" aria-current="page" href="./"
              >Open Collectives</a
            >
          </li>
          <li><a class="dropdown-item" href="./film">Film</a></li>
          <li><a class="dropdown-item" href="./about">About</a></li>
          <li>
            <a class="dropdown-item" href="./voices">Collective Voices</a>
          </li>
          <li>
            <a class="dropdown-item" href="./dimensions"
              >Collective Dimensions</a
            >
          </li>
        </ul>
      </div>
    </nav>

    <main class="container-fluid container-sm">
      <section class="container-fluid section">
        <div id="nav-back">
          <a class="link-black arrow-left arrow-sm" href="./"
            ><span class="text-prophet text-black"
              >open collectives
              <div class="arrow arrow-short arrow-sm">
                <div class="head"></div>
              </div> </span
          ></a>
        </div>
        <div class="row mt-5 text-red">
          <h1 class="h1 text-uppercase text-pink mt-5">Labor</h1>
        </div>
        <div class="row">
          <div class="ol-12 mb-3 col-md-6 mb-md-0">
            <p class="fs-6">
              Our cities and homes depend on their builders. But the
              construction industry suffers from both declining productivity and
              a shortage of labor, complicated by low wages, narrow
              specialization, and few opportunities to learn and cross-leverage
              skills. How can we reimagine the construction trade to more
              efficiently match workers with projects and skills? How can we use
              design to create a community for the future construction trade?
            </p>
          </div>
          <div class="col-12 mb-3 col-md-6 mb-md-0 mt-md-5up">
            <img
              class="img-project"
              src="./img/labor-1.jpg"
              alt="Wall assembly, Mosaic.us"
            />
            <p class="mt-2 img-capt text-pink">
              Wall assembly,
              <a
                class="text-pink fst-italic"
                href="http://mosaic.us"
                target="_blank"
                >Mosaic.us</a
              >
            </p>
          </div>
        </div>
        <div class="row d-md-flex">
          <div class="col-12 mb-3 col-md-5 align-self-md-center">
            <h3 class="h3 text-uppercase text-pink">Mosaic Networks</h3>
            <p>
              <a
                class="text-black fst-italic"
                href="http://mosaic.us"
                target="_blank"
                >Mosaic.us</a
              >
              is a technology startup using machine learning and other
              techniques to simplify tasks and thus accelerate construction. In
              doing so, it decreases the reliance on worker specialization and
              increases flexibility by cross-training crew across multiple
              domains.
            </p>
            <p>
              Our project began as an exploration of city-wide construction
              dynamics and processes to understand how best to leverage
              construction workers’ cooperation and skillbuilding. By mapping
              networks of workers against networks of existing and potential
              construction sites, we aim to identify optimal hubs for the worker
              community.
            </p>
            <p>
              At regional scale, increased worker flexibility allows us to
              create effective teams from a larger pool of candidates, allowing
              <a
                class="text-black fst-italic"
                href="http://mosaic.us"
                target="_blank"
                >Mosaic.us</a
              >
              to deploy teams with shorter hours, less travel time, and other
              parameters. These benefits trickle down to lower operations costs,
              higher retention rates, increased flexibility in commuting and
              scheduling and a new more inclusive camaraderie around
              construction work.
            </p>
          </div>
          <div class="col-12 mb-3 col-md-7 mt-md-5">
            <img
              class="img-project"
              src="./img/labor-2.jpg"
              alt="Disparate vacant lots in Phoenix, AZ become network of construction sites"
            />
            <p class="mt-2 img-capt text-pink">
              Disparate vacant lots in Phoenix, AZ become network of
              construction sites
            </p>
          </div>
        </div>
        <div class="row d-md-flex flex-md-row-reverse">
          <div
            class="ccol-12 mb-3 col-md-5 offset-md-1 align-self-md-center mb-md-0"
          >
            <h3 class="h3 text-uppercase text-pink">Mosaic Hub</h3>
            <p>
              Using worksheets and “builder’s yards” as the basis of a
              collective learning environment,
              <a
                class="text-black fst-italic"
                href="http://mosaic.us"
                target="_blank"
                >Mosaic.us</a
              >
              can train its workers as they go. Leveraging this cross-training,
              workers will become less dependent on the construction cycle, and
              can partake in a broader range of activities across different
              sites as they see fit.
            </p>
          </div>
          <div class="col-12 mb-3 col-md-6 mt-md-5">
            <img
              class="img-project"
              src="./img/labor-3.jpg"
              alt="Assembly in Mosaic Hub, Mosaic.us"
            />
            <p class="mt-2 img-capt text-pink">
              Assembly in Mosaic Hub,
              <a
                class="text-pink fst-italic"
                href="http://mosaic.us"
                target="_blank"
                >Mosaic.us</a
              >
            </p>
          </div>
        </div>
        <div class="row mt-5 mb-3">
          <div class="col-12 col-md-6 mb-2 mb-md-3">
            <a class="text-pink" href="http://mosaic.us" target="_blank">
              <span class="fs-6 position-relative before-arrow"
                >Learn more about <em>Mosaic.us</em>
                <!-- <div class="arrow arrow-sm pink"><div class="head"></div></div> -->
              </span>
            </a>
          </div>
          <div class="col-12 col-md-4 offset-md-2 col-lg-3 offset-lg-3">
            <a class="text-pink" href="./market">
              <h2
                class="h4 text-uppercase position-relative before-arrow next-theme"
              >
                Market
                <div class="arrow pink"><div class="head"></div></div>
              </h2>
            </a>
          </div>
        </div>
      </section>
    </main>
    <!-- /.container -->
    <img class="img-theme" src="./img/labor-about.svg" alt="Labor Form" />
    <script type="text/javascript" src="./js/bootstrap.min.js"></script>
    <script type="text/javascript" src="./js/script.js"></script>
  </body>
</html>
