<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Ashley Louie, Alina Nazmeeva">
    <title>Living</title>

    <link rel="shortcut icon" href="./img/oc-favicon.png">

    <link rel="stylesheet" type="text/css" href="./css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="./css/nav.css">
    <link rel="stylesheet" type="text/css" href="./css/style.css">
    
    <script type="text/javascript" src="./js/jquery-3.6.0.min.js"></script>
</head>

<body id="living" class="pink">

    <nav class="navbar navbar-expand fixed-top">
        <div class="container-fluid dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-target="#dropdownMenu"
                data-bs-toggle="dropdown" aria-expanded="false">
                <div class="navTrigger">
                    <i></i><i></i><i></i>
                </div>
            </a>
            <ul class="dropdown-menu" id="dropdownMenu" aria-labelledby="dropdownMenu">
                <li><a class="dropdown-item" aria-current="page" href="./">Open Collectives</a></li>
                <li><a class="dropdown-item" href="./film">Film</a></li>
                <li><a class="dropdown-item" href="./about">About</a></li>
                <li><a class="dropdown-item" href="./voices">Collective Voices</a></li>
                <li><a class="dropdown-item" href="./dimensions">Collective Dimensions</a></li>
            </ul>
        </div>
    </nav>

    <main class="container-fluid container-sm">
        <section class="container-fluid section">
            <div id="nav-back">
                <a class="link-black arrow-left arrow-sm" href="./"><span class="text-prophet text-black">open collectives
                        <div class="arrow arrow-short arrow-sm"><div class="head"></div></div>
                </span></a>
            </div>
            <div class="row mt-5 text-red">
                <h1 class="h1 text-uppercase text-yellow mt-5">Living</h1>
            </div>
            <div class="row">
                <div class="col-12 mb-3 col-md-6 mb-md-0">
                    <p class="fs-6">Post-pandemic ways of living and working need a rethink. After spending more than a year alone or at home with one’s close family, the question now isn’t only “how will we live together?” but also with whom. Whether it be co-housing, co-living, or other arrangements, the need for a new model of collective urban living is a pressing one.</p>
                    <h3 class="h3 text-uppercase text-yellow mt-md-5">Haifa Collective Block</h3>
                    <p>Collective Block is a housing model aimed at addressing shifting demands and lifestyles, along with a different distribution of public-, private-, and shared programs in an urban block. Developed in collaboration with the Israeli co-living group <a class="text-black fst-italic" href="https://www.communit.co/" target="_blank">Communit</a>, the project asks how shared programs, public facilities and residential units co-exist at the scale of a block? Also,how can new models of living  find their own architectural expression, while both relating to its urban context and benefiting from it?</p>
                </div>
                <div class="col-12 mb-3 col-md-6 mt-md-5up mb-md-5">
                        <img class="img-project" src="./img/living-1.png" alt="Haifa collective block floor plan">
                        <p class="offset-sm-3 col-sm-9 mt-2 img-capt text-yellow">Haifa collective block floor plan</p>
                </div>
            <!-- </div>
            <div class="row mt-md-5up"> -->
                <!-- <div class="col-12 mb-3 col-md-5 mt-md-5up mb-md-0">
                    <h3 class="h3 text-uppercase text-yellow">Haifa Collective Block</h3>
                    <p>Collective Block is a housing model aimed at addressing shifting demands and lifestyles, along with a different distribution of public-, private-, and shared programs in an urban block. Developed in collaboration with the Israeli co-living group <a class="text-black fst-italic" href="https://www.communit.co/" target="_blank">Communit</a>, the project asks how shared programs, public facilities and residential units co-exist at the scale of a block? Also,how can new models of living  find their own architectural expression, while both relating to its urban context and benefiting from it?</p>
                </div> -->
                <!-- <div class="col-12 mb-3 col-md-5 offset-md-1 mt-md-5 mb-md-0">
                    <img class="img-project" src="./img/living-2.jpg" alt="Collective block courtyard view">
                    <p class="mt-2 img-capt text-yellow">Collective block courtyard view</p>
                </div> -->
            </div>
            <div class="row d-md-flex flex-md-row-reverse">
                <div class="col-12 mb-3 col-md-6 mt-md-5 mb-md-0 align-self-md-center">
                    <h3 class="h3 text-uppercase text-yellow">Collective Block Architecture</h3>
                    <p>Collective Block proposes a mixed-use development with residential units along the block’s perimeter, and commercial towers, shared spaces, and open courtyards in the block’s interior. Higher density is achieved while integrating shared open spaces within the block.</p>
                </div>
                <div class="col-12 mb-3 col-md-6 mt-md-5">
                    <img class="img-project" src="./img/living-2.jpg" alt="Collective block courtyard view">
                    <p class="mt-2 img-capt text-yellow">Collective block courtyard view</p>
                </div>
            </div>
            <div class="row mt-5 mb-3">
                <div class="col-12 col-md-6 mb-2 mb-md-3"><a class="text-yellow" href="https://www.communit.co/" target="_blank">
                    <span class="fs-6 position-relative before-arrow">Learn more about <em>Communit</em>
                        <!-- <div class="arrow arrow-sm yellow"><div class="head"></div></div> -->
                    </span>
                </a></div>
                <div class="col-12 col-md-4 offset-md-2 col-lg-3 offset-lg-3"><a class="text-yellow" href="./care">
                    <h2 class="h4 text-uppercase position-relative before-arrow next-theme">Care
                        <div class="arrow yellow"><div class="head"></div></div>
                    </h2>
                </a></div>
            </div>
        </section>
    </main><!-- /.container -->
    <img class="img-theme" src="./img/living-about.svg" alt="Living Form">
    <script type="text/javascript" src="./js/bootstrap.min.js"></script>
    <script type="text/javascript" src="./js/script.js"></script>
</body>

</html>