<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Ashley Louie, Alina Nazmeeva">
    <title>Market</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/starter-template/">

    <link rel="stylesheet" type="text/css" href="./css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="./css/nav.css">

    <link rel="stylesheet" type="text/css" href="./css/style.css">
    <script type="text/javascript" src="./js/jquery-3.6.0.min.js"></script>
</head>

<body id="market" class="yellow">

    <nav class="navbar navbar-expand fixed-top">
        <div class="container-fluid dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-target="#dropdownMenu"
                data-bs-toggle="dropdown" aria-expanded="false">
                <div class="navTrigger">
                    <i></i><i></i><i></i>
                </div>
            </a>
            <ul class="dropdown-menu" id="dropdownMenu" aria-labelledby="dropdownMenu">
                <li><a class="dropdown-item" aria-current="page" href="./">Open Collectives</a></li>
                <li><a class="dropdown-item" href="./film">Film</a></li>
                <li><a class="dropdown-item" href="./about">About</a></li>
                <li><a class="dropdown-item" href="./voices">Collective Voices</a></li>
                <li><a class="dropdown-item" href="./dimensions">Collective Dimensions</a></li>
            </ul>
        </div>
    </nav>

    <main class="container">
        <section class="container-fluid section">
            <div id="nav-back">
                <a class="link-black arrow-left arrow-sm" href="./index"><span class="text-prophet text-black">open collectives
                        <div class="arrow arrow-short arrow-sm"><div class="head"></div></div>
                </span></a>
            </div>
            <div class="row mt-5 text-red">
                <h1 class="h1 text-uppercase mt-5">Market</h1>
            </div>
            <div class="row">
                <div class="col-12 mb-3 col-md-6 mb-md-0 text-red">
                    <p>Covid-19 pandemic, the Elderboom, and increasing climate disasters pronounce the fractures of our caregrid. We have become increasingly aware that as a society, we have yet not begun to design for the increasing number of aging, disabled, or visually impaired people — nor design for those who care for them.</p>
                </div>
                <div class="col-12 mb-3 col-md-5 offset-md-1 mb-md-5">
                    <img class="img-project" src="./img/market-1.jpg" alt="Quipu Marketplace">
                    <p class="mt-2 img-capt text-red">Quipu Marketplace</p>
                </div>
            </div>
            <div class="row d-md-flex flex-md-row-reverse mt-md-5up mb-md-3">
                <div class="col-12 mb-3 col-md-5 offset-md-1 mt-md-5 mb-md-0 align-self-md-end">
                    <h3 class="h3 text-uppercase text-red">Quipu Collective Market &mdash;</h3>
                    <p>is the U.S.’s first intergenerational care-based co-housing project. In a Carehaus, disabled and older adults, caregivers and their families live in independent living units clustered around shared spaces. In exchange for their market, caregivers receive good wages, childcare, and various benefits. An additional team engages residents in shared meals, horticulture, art, fitness, physical therapy, financial literacy courses, and more.</p>
                </div>
                <div class="col-12 mb-3 col-md-6 mt-md-5up">
                    <img class="img-project" src="./img/market-2.jpg" alt="Villas de San Pablo">
                    <p class="mt-2 img-capt text-red">Villas de San Pablo</p>
                </div>
            </div>
            <div class="row d-md-flex">
                <div class="col-12 mb-3 col-md-5 mt-md-5 mb-md-0 align-self-md-center">
                    <h3 class="h3 text-uppercase text-red">Quipu Architecture</h3>
                    <p>Carehaus Baltimore is a first of its kind intergenerational care-based co-housing project, where elders, caregivers, and their families have independent living units clustered around a series of shared spaces. Every floor has a dedicated shared space (kitchen, lounge, work space, and others) and an open terrace facing the courtyard. An exterior stair connects the large roof garden to the terraces and the ground level courtyard.</p>
                </div>
                <div class="col-12 mb-3 col-md-7 mt-md-5">
                    <img class="img-project" src="./img/market-3.png" alt="Quipu Elements">
                    <p class="mt-2 img-capt text-red">Quipu Elements</p>
                </div>
            </div>
            <div class="row mt-5 mb-3">
                <div class="col-12 col-md-6 mb-2 mb-md-3"><a class="text-red" href="https://www.quipumarket.com" target="_blank">
                    <span class="position-relative before-arrow">Learn more about quipu
                        <div class="arrow arrow-sm red"><div class="head"></div></div>
                    </span>
                </a></div>
                <div class="col-12 col-md-4 offset-md-2 col-lg-3 offset-lg-3"><a class="text-red" href="./living">
                    <h2 class="h4 text-uppercase position-relative before-arrow next-theme">Living
                        <div class="arrow red"><div class="head"></div></div>
                    </h2>
                </a></div>
            </div>
        </section>
    </main><!-- /.container -->
    <img class="img-theme" src="./img/market-about.svg" alt="Market Form">
    <script type="text/javascript" src="./js/bootstrap.min.js"></script>
    <script type="text/javascript" src="./js/script.js"></script>
</body>

</html>
